<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711995609799-va4qprg98hbnahg6lsp8a0kb3m7cmaal.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711995609799-va4qprg98hbnahg6lsp8a0kb3m7cmaal</string>
	<key>API_KEY</key>
	<string>AIzaSyDkR52kw6jZmq3ryNLbak6uqvEAUC9IHfA</string>
	<key>GCM_SENDER_ID</key>
	<string>711995609799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shareStudyApp</string>
	<key>PROJECT_ID</key>
	<string>sharestud</string>
	<key>STORAGE_BUCKET</key>
	<string>sharestud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711995609799:ios:8a3208cdbbcfa1154764e2</string>
</dict>
</plist>